<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

  <!-- My -->
  <script src="{{ url_for('static', filename='controller.js') }}"></script>
  <link rel="stylesheet" href="/static/style.css" />
</head>

<body>


<div class="inset" ng-controller="SwitchDemoCtrl">
  <md-switch ng-model="data.cb1" aria-label="Switch 1">
    Switch 1: {{ data.cb1 }}
  </md-switch>
  <md-switch ng-model="data.cb2" aria-label="Switch 2" ng-true-value="'yup'" ng-false-value="'nope'" class="md-warn">
    Switch 2 (md-warn): {{ data.cb2 }}
  </md-switch>
  <md-switch ng-disabled="true" aria-label="Disabled switch">
    Switch (Disabled)
  </md-switch>
  <md-switch ng-disabled="true" aria-label="Disabled active switch" ng-model="data.cb4">
    Switch (Disabled, Active)
  </md-switch>
  <md-switch class="md-primary" md-no-ink aria-label="Switch No Ink">
    Switch (md-primary): No Ink
  </md-switch>
</div>
</body>

</html>