<!DOCTYPE html>
<html lang="en"  ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.css">
</head>
<body>
  <div class="row">
    <div class="small-6 small-centered columns" ng-controller="RelaysController">
      <h3> [[header]] </h3>
      <hr>

      <div ng-repeat="item in relays">
        <p ng-bind="item.name"></p>
        <!-- <p ng-src=[[item.id]] ng-click="toggleRelay(item)">button</p> -->
        <button type="button" class="large button" ng-src=[[item.id]] ng-click="toggleRelay(item)"><span ng-bind="item.state"></span></button>
      </div>
    </div>
  </div>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
  <script src="{{ url_for('static', filename='controller.js') }}"></script>
<script
        src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    
  <script src="https://cdn.jsdelivr.net/foundation/6.2.1/foundation.min.js"></script>
</body>
</html>
